<div class="dark-post dark-postlist">
    <article class="dark-py dark-post-content">
      <%- page.content %>
    </article>
    <div class="dark-post-foot">
      <%- partial('_partial/comment') %>
    </div>
</div>