<script type="text/javascript">      
    var search_path = "<%= config.search.path %>";
    if (search_path.length == 0) {
        search_path = "search.xml";
    }
    var path = "<%= config.root %>" + search_path;
    searchFunc(path, 'local-search-input', 'local-search-result');
</script>
<div id="dark-search">
    <input type="text" id="local-search-input" name="q" results="0" placeholder="search my blog..." class="form-control"></input>
    <div id="local-search-result"></div>
</div>